*, *::before,*::after {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

:root {
 --orange: #dc562e;
 --darkblue:#000814;
 --navyblue:#001D3D;
 --blue: #003566;
 --darkyellow: #ff6200;
 --yellow:#FFD60A;
 --white:#F1F1F1;
 --bluegreen: #0a9173;
 --green:#078d8e;
 --darkgreen: #0c3d3e;
}


html,
body {
  margin: 0;
  padding: 0;
  display:flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
    background: rgb(255, 145, 0);
    background: linear-gradient(25deg, rgba(218, 65, 5, 0.863) 8%, rgba(246,119,3,1) 18%, rgb(216, 84, 8) 71%, rgba(230,164,25,1)99%);
}


.container {
    width: 850px;
    max-width: 90vw;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 19px 8px rgb(9, 4, 53);
}


 .timer{
    margin-left:80%;
    color: #29b2b4;
    background: #012c23;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
}
.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}



#question {
    font-size: x-large;
  
    text-align: center ;
    color: rgb(2, 59, 61);
    padding: 25px 55px;
}




.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 10px;
}

.btn {
    background-color: var(--green);
    color: aliceblue;
    border: 10px;
    border-radius: 10px;
    padding: 25px;
    font-size: medium;
    box-shadow: 0 0 12px black;
    margin-bottom: 25px ;
}

.btn.correct{
    background-color: var(--bluegreen);  
  }
  .btn.wrong{
      background-color: #8d1f1f;
  }
  
.btn:hover {
background-color: var(--darkgreen);
}



#quizStart{
    display: flex;
    flex-wrap: wrap;
}
.quizStart h1 {
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    padding: 15px;
    color: var(--darkgreen);
}
.quizStart h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: #ff6200;
    text-align: center;
    padding: 25px;
}

.quizStart p{
    font-size: 1.3rem;
    color: var(--darkblue);
    text-align: center;
    padding: 20px;
}
 
.start-btn {
    display: block;
    text-align: center;
    margin: 30px auto;
    padding: 25px 55px;
    background-color: orangered;
    font-size: xx-large;
    font-weight: bolder;
}

.hide {
    display: none;
}

.next-btn {
    margin-left: 80%;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--bluegreen);
}

